.header {
    padding-top: 44px;
    margin-bottom: 50px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bars{
    border: 0;
    width: 16px;
    height: 15px;
    cursor: pointer;
    display: none;
}



// media-css-------------------------------------------------------------------


@media only screen and (max-width: 768px) {
    
    .header-logo{
      margin-left:-20px;
    }
  
  
    .bars {
      display: block; 
      font-size: $large-size;
    }

  
    .nav {
      display: none; 
      flex-direction: column; 
      position: absolute; 
      top: 120px; 
      left: 0;
      width: 100%;
      background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,1) 34%, rgba(129,124,124,1) 100%);
        
      z-index: 1;
      color: $dark-grey;
    }
  
    .nav-list {
      text-align: center; 
      flex-direction: column;
      padding-bottom: 150px;
      padding-top: 100px;
      // margin-bottom: 300px;
    }
    
    .nav-item {
      margin-bottom: 10px; 
    }
    a.nav-link{
      color: $dark-grey;
      font-size: $large-size;
      font-weight: 900;
      font-family: 'Fraunces', serif;
      line-height: 32px;
    }
  
    .bars.active + .nav {
      display: flex;
    }



  }
  

