.hero-container{
    background-image: url(/images/hero-back.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    border: 1px solid transparent;
    border-radius: 10px;
    
    height: 600px;
    margin-bottom: 140px;


}
.hero-left{
    margin-top: 111px ;
    margin-right: 470px;
}
.hero-left-h1{
    width: 493px;
    font-weight: 900;
    font-size: 72px;
    color: $light-orange;
    font-family: 'Fraunces', serif;
    line-height: 72px;
    margin-bottom: 39px;
    
}
.hero-left-p{
    font-family: 'Barlow', sans-serif;
    width: 445px;
    font-weight: 400;
    font-size: $medium-size;
    color: $light-orange;
    line-height: 26px;
    opacity: 80%;
    margin-bottom: 56px;
}



// about-us styles


.about-us-hero-container{
    background-image: url('/images/about-bg.png');
    background-repeat: no-repeat;
    height: 450px;
    margin-bottom: 168px;
}
.about-us-hero-container h2{
    font-family: 'Fraunces', serif;
    width: 220px;
    padding-top: 137px;
    margin-bottom: 24px;
    margin-left: 85px;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: $light-orange;
}
.about-us-hero-container p{
    font-family: 'Barlow', sans-serif;
    margin-bottom: 137px;
    margin-left: 85px;
    width: 445px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $light-orange;
}