.how-hero{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: $large-size;
    line-height: $pro-large-size;
    color: $grey;
    text-align: left;
    margin-bottom: 80px;
    
}

.circle{
    display: flex;
    align-items: center;
    margin-bottom: 67px;

    span{
        border: 2px solid $dark-syan;
        border-radius: 50%;
        padding: 10px;
        background-color: $light-orange;
        margin-right: 349px;

        z-index: 1;

        transition: all .3s ease;
    }

    img{
        position: absolute;
    }

}

.circle span:hover{
    transition: all .3s ease;
    transform: scale(2);

}


// up-footer

.how-it-list{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    justify-content: center;
    gap: 95px;
}
.how-it-item span{
    font-size: 72px;
    color: #FDD6BA;
    line-height: 64px;
    font-family: 'Fraunces', serif;
}
.how-it-item h2{
    width: 255px;
    color: #333D4B;
    font-size: 32px;
    line-height: 36px;
    font-family: 'Fraunces', serif;
    margin-top: 38px;
}
.how-it-item p{
    width: 285px;
    margin-top: 42px;
    font-weight: 400;
    color: #333D4B;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 26px;
}


// Our headquarters by about us---------------------------------------------------------------------------

.our-state-container{
    margin-bottom: 168px;
    width: 1045px;

}
.our-state-container-h2{
    font-family: 'Fraunces', serif;
    color: $grey;
    font-size: $large-size;
    line-height: $pro-large-size;
    font-weight: 900;
    margin-bottom: 72px;
}
.our-state-list{
    display: flex;
    justify-content: space-between;
}


.our-state-item{
    img{
        margin-bottom: 46px;
    }


    h2{
        font-size: $pro-large-size;
        line-height: 36px;
        color: #333D4B;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        margin-bottom: 24px;
    }


    p{
        font-family: 'Barlow', sans-serif;
        color: $dark-grey;
        font-size: $medium-size;
        line-height: 26px;
        font-weight: 400;
    }

}

