.our-text{
    width: 1111px;
    height: 196px;
    align-items: center;
    position: absolute;
    left: 200px;
}
.our-img{
    margin-bottom: 72px;
}
.our-list{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.our-item{
    text-align: center;
    margin-right: 30px;
    margin-top: 120px;
    z-index: 1;
}

.our-h3{
    font-family: 'Fraunces', serif;
    width: 255px;
    height: 32px;
    font-weight: 900;
    font-size: $large-size;
    line-height: 32px;
    color: $dark-grey;
    margin-bottom: $large-size;
}
.our-p{
    font-family: 'Barlow', sans-serif;
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $dark-grey;
}