.our-text{
    width: 1111px;
    height: 196px;
    align-items: center;
    position: absolute;
    margin-left: 70px;
 
}
.our-img{
    margin-bottom: 72px;
}
.our-list{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.our-item{
    text-align: center;
    margin-right: 30px;
    margin-top: 120px;
    z-index: 1;
}

.our-h3{
    font-family: 'Fraunces', serif;
    width: 255px;
    height: 32px;
    font-weight: 900;
    font-size: $large-size;
    line-height: 32px;
    color: $dark-grey;
    margin-bottom: $large-size;
}
.our-p{
    font-family: 'Barlow', sans-serif;
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $dark-grey;
    margin-bottom: 199px;
}


// about us our commitment start

.our-com-container{
    display: flex;
    align-items: center;
    width: 1110px;
    margin-bottom: 158px;
}
.our-com-left{
    height: 520px;
    margin-right: 125px;
}
.our-com-h2{
    font-family: 'Fraunces', serif;
    color: $dark-grey;
    font-size: $pro1-large-size;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
}
.our-com-p{
    font-family: 'Barlow', sans-serif;
    width: 540px;
    opacity: 80%;
    font-size: $medium-size;
    color: $dark-grey;
    font-weight: 400;
    line-height: 26px;
}
//  our commitment end