.our-text{
    width: 1111px;
    height: 196px;
    align-items: center;
    position: absolute;
    margin-left: 70px;
 
}
.our-img{
    margin-bottom: 72px;
}
.our-list{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.our-item{
    text-align: center;
    margin-right: 30px;
    margin-top: 120px;
    z-index: 1;
}

.our-h3{
    font-family: 'Fraunces', serif;
    width: 255px;
    height: 32px;
    font-weight: 900;
    font-size: $large-size;
    line-height: 32px;
    color: $dark-grey;
    margin-bottom: $large-size;
}
.our-p{
    font-family: 'Barlow', sans-serif;
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $dark-grey;
    margin-bottom: 199px;
}


// about us our commitment start

.our-com-container{
    display: flex;
    align-items: center;
    width: 1110px;
    margin-bottom: 158px;
}
.our-com-left{
    height: 520px;
    margin-right: 125px;
}
.our-com-h2{
    font-family: 'Fraunces', serif;
    color: $dark-grey;
    font-size: $pro1-large-size;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
}
.our-com-p{
    font-family: 'Barlow', sans-serif;
    width: 540px;
    opacity: 80%;
    font-size: $medium-size;
    color: $dark-grey;
    font-weight: 400;
    line-height: 26px;
}
//  our commitment end




// media css---our collection-------------------------------------------------------------------------------------------------------------------------------




@media only screen and (max-width: 768px) {
    .our-collection {
        padding-top: 50px; 
    }

    .our-text {
        width: 100%;
        margin-left: 0;
        position: static;
        text-align: center;
        height: auto;
    }

    .our-list {
        flex-direction: column; 
        align-items: center;
    }

    .our-item {
        margin-right: 0;
        margin-top: 20px;
        text-align: center;
        // width: 100%; 
    }

    .our-img {
        margin-bottom: 20px;
    }

    .our-h3,
    .our-p {
        // width: 100%; 
        margin-bottom: 10px;
    }
}


// media our-commitment-----------------------------------------------------------------------------------

/* Add this to your existing CSS file or create a new one */

/* Smaller screens */
@media only screen and (max-width: 768px) {
    .our-com-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        width: auto; /* Make the container's width auto for better responsiveness */
        margin-bottom: 50px; /* Adjust margin-bottom for better spacing on smaller screens */
    }

    .our-com-left {
        width: auto; /* Make the left container width 100% on smaller screens */
        height: auto; /* Make the height auto for better responsiveness */
        margin-right: 0; /* Remove margin-right for better spacing on smaller screens */
        margin-bottom: 48px;
    }

    .our-com-right {
        width: 100%; /* Make the right container width 100% on smaller screens */
        text-align: center; /* Center-align content on smaller screens */

        margin-bottom: 120px;
    }

    .our-com-h2 {
        font-size: $pro1-large-size; /* Decreased font-size for better readability on smaller screens */
        line-height: 36px; /* Adjust line-height for better spacing on smaller screens */
        margin-bottom: 30px; /* Adjust margin-bottom for better spacing on smaller screens */
    }

    .our-com-p {
        width: auto; /* Make the width auto for better responsiveness */
        margin-bottom: 20px; /* Adjust margin-bottom for better spacing n smaller screens */
    }
}

