$grey: #83888F;
$dark-grey: #333D4B;
$dark-syan: #0E8784;
$orange: #FDD6BA;
$light-orange:#FEFCF7;
$btn-hover: #66D2CF;


$small-size: 12px;
$medium-size: 16px;
$medium2-size: 18px;
$large-size: 24px;
$pro-large-size: 32px;
$pro1-large-size:40px;
$pro2-large-size:72px;